@import '~bootstrap/scss/bootstrap';

.weather-card {
  h6 {
    color: $primary;
  }

  p {
    span {
      color: $text-muted;
      // font-weight: light;
      font-size: 14px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    b {
      font-size: 15px;
    }
  }

  .weather-icon-wrapper {
    width: 80px;
    height: 80px;

    img {
      width: 100%;
      height: 100%;
      transform: scale(1.5);
    }
  }
}
